expecttest==0.1.6
triton==2.1.0
mkl-fft==1.3.8
torchaudio==2.1.0
wcwidth==0.2.5
beautifulsoup4==4.12.2
setuptools==68.0.0
libarchive-c==2.9
psutil==5.9.0
chardet==4.0.0
six==1.16.0
truststore==0.8.0
certifi==2023.7.22
conda_index==0.3.0
pycosat==0.6.4
filelock==3.9.0
jsonpatch==1.32
torchelastic==0.2.2
networkx==3.1
urllib3==1.26.16
jedi==0.18.1
pip==23.2.1
Pillow==9.4.0
zstandard==0.19.0
tomli==2.0.1
conda-libmamba-solver==23.7.0
pycparser==2.21
soupsieve==2.5
pure-eval==0.2.2
ruamel.yaml==0.17.21
pluggy==1.0.0
packaging==23.1
pyOpenSSL==23.2.0
MarkupSafe==2.1.1
decorator==5.1.1
conda-content-trust==0.2.0
python-etcd==0.4.5
types-dataclasses==0.6.6
fsspec==2023.9.2
torchvision==0.16.0
gmpy2==2.1.2
traitlets==5.7.1
cffi==1.15.1
requests==2.31.0
click==8.0.4
conda-build==3.27.0
attrs==23.1.0
prompt-toolkit==3.0.36
cryptography==41.0.3
jsonpointer==2.1
conda_package_streaming==0.9.0
ruamel.yaml.clib==0.2.6
sympy==1.11.1
sympy==1.12
brotlipy==0.7.0
exceptiongroup==1.0.4
ptyprocess==0.7.0
dnspython==2.4.2
parso==0.8.3
astunparse==1.6.3
mkl-random==1.2.4
pkginfo==1.9.6
pickleshare==0.7.5
sortedcontainers==2.4.0
executing==0.8.3
more-itertools==8.12.0
Pygments==2.15.1
charset-normalizer==2.0.4
PyYAML==6.0
tqdm==4.65.0
mkl-service==2.4.0
PySocks==1.7.1
asttokens==2.0.5
stack-data==0.2.0
idna==3.4
conda-package-handling==2.2.0
toolz==0.12.0
torch==2.1.0
ipython==8.15.0
wheel==0.41.2
pytz==2023.3.post1
conda==23.9.0
mpmath==1.3.0
pexpect==4.8.0
hypothesis==6.87.1
boltons==23.0.0
matplotlib-inline==0.1.6
Jinja2==3.1.2
backcall==0.2.0
typing_extensions==4.8.0
typing_extensions==4.15.0
libmambapy==1.4.1
scipy==1.15.3
pydantic==2.12.5
polars-runtime-32==1.37.1
pyparsing==3.3.1
tzdata==2025.3
joblib==1.5.3
opencv-python==4.12.0.88
wandb==0.24.0
scikit-learn==1.7.2
threadpoolctl==3.6.0
python-dateutil==2.9.0.post0
gitdb==4.0.12
fonttools==4.61.1
kiwisolver==1.4.9
sentry-sdk==2.49.0
ultralytics-thop==2.0.18
cycler==0.12.1
platformdirs==4.5.1
python-slugify==8.0.4
smmap==5.0.2
webencodings==0.5.1
pandas==2.3.3
pydantic_core==2.41.5
bleach==6.3.0
kaggle==1.7.4.5
typing-inspection==0.4.2
protobuf==6.33.4
GitPython==3.1.46
polars==1.37.1
matplotlib==3.10.8
contourpy==1.3.2
text-unidecode==1.3
annotated-types==0.7.0
numpy==1.26.4
ultralytics==8.4.5
